/* Card */
.noah { 
  width: 400px;
  background: white;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 50px auto; /* mərkəzləşdirmək üçün */
}

/* Cloud*/
.cloud {
    width: 100%;
    height: 200px;
    border-radius: 30px;
    object-fit: cover;
}

/* Profile */
.profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 120px;
    left: 20px;
}

/* Follow button */
.flwbutton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}

/* Exp + gradient */
.exp {
    position: absolute;
    top: 200px;
    left: 180px;
    text-align: left;
}

.exp p {
    font-size: 15px;
    position:absolute;
    left: -30px;
    top: 6px;
    font-weight: bold;
    margin: 0;
}

.gradient {
    margin-top: 5px;
    width: 150px;
    height: 25px;
    border-radius: 20px;
    background: radial-gradient(circle, rgba(240, 120, 172, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

/* Text */
.text {
    padding: 90px 20px 20px; /* padding üstdən 180px, soldan və sağdan 20px, altdan 20px */
}

.text h1 {
    font-family: 'Diplomata', serif;
    font-size: 22px;
    margin-bottom: 5px;
}

.text p {
    font-family: 'PT Serif Caption', serif;
    color: gray;
    margin: 3px 0;
}

/* Stats */
.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.stat h2 {
    font-size: 18px;
    margin:0;
    font-weight: bold;
}

.stat p {
    font-size: 14px;
    margin: 3px 0 0;
    color: gray;
}
/* Social Icons */
.social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 90px;
}
