.noah { 
  width: 1700px;
  background: white;
  border-radius: 40px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.cloud{
    width: 100%;
    height: 200px;
}
.profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 130px;
    left: 30px;
}
.text{
    padding: 80px 20 px 20px;
}
.text h1{
    font-family: 'Diplomata', serif;
    font-size: 18px;
}
.text p{
    font-family: 'PT Serif Caption', serif;
    color:gray;
}